.sidebar-container {
    height: 100vh;
    background-color: #6AD4DD;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    flex-shrink: 0;
    color: #F8F6E3;
    transition: width 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar-container.closed {
    width: 50px;
}

.sidebar-container.open {
    width: 200px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    height: 65px;
}

.sidebar-container.open .sidebar-header {
    justify-content: flex-start;
    padding-left: 12px;
}

.hamburger {
    font-size: 1.5rem;
    cursor: pointer;
    color: #F8F6E3;
    transition: transform 0.2s;
}

.hamburger:hover {
    transform: scale(1.1);
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 12px 10px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.2s;
    margin-bottom: 5px;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-item.active {
    background-color: #F8F6E3;
    color: #7AA2E3;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
}

.label {
    margin-left: 15px;
    font-size: 1rem;
    font-weight: 500;
    opacity: 0;
    transition: opacity 0.2s ease;
}

/* show the text only when open */
.sidebar-container.open .label {
    opacity: 1;
}