.topbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6AD4DD;
    margin-bottom: 1rem;
    padding: 1em 2em;
    /*font-family: "Jersey 10", monospace;*/
    text-decoration: none;
}

.topbar-logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.logo-img {
    border-radius: 8px;
    /*margin-left: 0rem;*/
    /*margin-right: 1rem;*/
}

.brand-name {
    font-size: 1.2rem;
    font-weight: 700;
   color: #F8F6E3;
    text-decoration: none;
    /*margin-right: 1rem;*/
    margin-left: 0.1rem;
    min-width: auto;
}

.brand-name:hover {
    text-decoration: none;
    color: #0ea5e9;
}

.topbar-nav {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    width: 100px;
    text-decoration: none;
}

.location-form {
    display: flex;
    align-items: center;
    background-color: #F8F6E3;
    border-radius: 40px;
    overflow: hidden;
    width: 50%;
    min-width: auto;
    max-width: 500px;
    text-decoration: none;
    color: black;
    /*margin-left: 0.1rem;*/
    margin-right: 1rem;
}
.search-icon {
    margin-right: 0.1rem;
    width: 18px;
    height: 18px;
}

.location-input {
    padding: 0.5em 1em;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 1px solid black;
    border-radius: 50px 0 0 50px;
    outline: none;
    flex: 1;
    height: 28px;
    background-color: #F8F6E3;
    font-family: inherit;
    color: #444444;
}
.current-location {
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: #F8F6E3;
    padding: 0.3em 0.8em;
    border-radius: 20px;
    border: 2px solid black;
    font-weight: 600;
    color: black;
    margin-right: 1rem;
    margin-left: 2rem;
}
.location-button {
    background-color: #F8F6E3;
    border-radius: 0 50px 50px 0;
    padding: 0.55rem 0.8rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    transition: background-color 0.2s ease-in-out;
    border-left: 1px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.location-button:hover {
    background-color: #0ea5e9;
}

.topbar-login {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid black;
    padding: 0.5em 1em;
    background-color: #F8F6E3;
    color: black;
    text-decoration: none;

}

.login-link {
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s;
}

.login-link:hover {
    color: #0ea5e9;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    text-decoration: none;
    color: black;
    border: black;
}

.profile-name {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.unit-toggle {
    display: flex;
    align-items: center;
    background-color: #F8F6E3;
    border-radius: 30px;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    margin-right: 4rem;
    margin-left: 1rem;
    border: 2px solid black;
    user-select: none;
}

.unit-toggle span {
    font-weight: 600;
    color: #ccc;
    padding: 0 4px;
    transition: color 0.2s ease;
}

.unit-toggle span.toggle-divider {
    color: #ccc;
    margin: 0 2px;
}

.unit-toggle span.active {
    color: #444444;
}